<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <div>
            <img id="fotodeperfil" src="../../../assets/perfilPhoto.jpg" class="img-fluid">
        </div>
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2" class="nombres">
        <p id="nombre">Gonzalo Matias Avalos</p>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8" class="acerca">
        <span>
            <h1>Acerca de mi</h1>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quasi optio magnam numquam, eos, aliquid impedit vero iure enim quia expedita quas eius veritatis dolorem quis et amet? Cum, deserunt iure!</p>
        </span>
    </div>
</div>