<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/APLogo.png" id="logoAP">
        </div>
        <div class="redes">
                <a href="https://www.linkedin.com/in/gonzalo-avalos-5a2062194/"><img src="../../../assets/linkedin.png" alt=""></a>
                <a href="https://www.facebook.com/GonzaloAvalos09/"><img src="../../../assets/facebook.png" alt=""></a>
                <a href="https://github.com/gonzaloavalos29"><img src="../../../assets/github.png" alt=""></a>
                <a href="https://www.instagram.com/avalos.gonzaloc/"><img src="../../../assets/instagram.png" alt=""></a>
                <a href="https://twitter.com/Gonzalo37093061"><img src="../../../assets/twitter.png" alt=""></a>
        </div>
        <button type="button" class="btn btn-light">INGRESO</button>
    </div>
</div>