<body>
    <div class="row">
        <h1>Experiencia laboral</h1>
        <div class="col-lg-1">
        <div class="col-lg-11">
            <ul>
                <li><h1>Trabajo 1</h1> - <h3>(years)</h3></li>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab ratione quas autem provident sequi suscipit officia dicta cumque vero dolore vel ut ipsam sapiente, eligendi pariatur obcaecati. Mollitia, voluptas velit.
                </p>
            </ul>
            <ul>
                <li><h1>Trabajo 2</h1> - <h3>(years)</h3></li>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab ratione quas autem provident sequi suscipit officia dicta cumque vero dolore vel ut ipsam sapiente, eligendi pariatur obcaecati. Mollitia, voluptas velit.
                </p>
            </ul>
            <ul>
                <li><h1>Trabajo 3</h1> - <h3>(years)</h3></li>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab ratione quas autem provident sequi suscipit officia dicta cumque vero dolore vel ut ipsam sapiente, eligendi pariatur obcaecati. Mollitia, voluptas velit.
                </p>
            </ul>
        </div>
        </div>
    </div>
</body>